:root {
    --blugray: rgb(168, 183, 196);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
    background-color: var(--blugray);
}

.navbar .container{
  padding: 0;
}
.nav {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.img-top {
        display: block;
        margin: auto;
}

.container {
  /* background-color: red; */
  max-width: 1200px;
  padding: 20px;
  /* padding: 20px; */
  /* width: 100%; */
  /* overflow: auto; */
}

.projects {
  background-color: rgb(255, 255, 255);
  ;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}