:root {
  --lt-blue: rgb(212, 231, 248);  
  --blugray: rgb(168, 183, 196);
  --lt-brown: rgb(235, 234, 234);
  --dk-text: rgb(48, 48, 48);
  --hl-text: rgb(1, 251, 180);
  /* --hl-text: rgb(243, 251, 1);
  --hl-text: rgb(1, 251, 205); */

  /* Updated color family */
  --nav-dark: #221D1B;
  --bg-dark: #524442;
  --bg-med: #DB95B4;
  --bg-lght: #F9C0B4;
  --bg-white: #FDF3ED;
  --bg-white-card: #fffbf8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--bg-white) /* update font color */
}

body {
    background-color: var(--bg-dark);
}

.landing-grid,
.project-page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.landing-grid {
  grid-template-rows: auto auto auto auto 250px auto ;
}

p {
  line-height: normal;
}

a {
  font-weight: 600;
  color: var(--bg-med);
  transition: all .5s;
}

li a:hover,
p a:hover {
  color: var(--bg-lght);
  font-size: 1.1em;
  font-size-adjust: 20px;
  line-height: normal;
}

.nav {
  margin: 0 auto;
}

.navbar {
  background-color: var(--nav-dark);
  color: red; 
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.navbar-brand {
  color: var(--bg-white);
}

.dropdown-menu {
  background-color: var(--bg-white);
}

.dropdown-item {
  color: var(--bg-dark);
}

.container.bio-grid {
  padding-bottom: 75px;
}

.bio-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.bio-pic {
  display: block;
  margin: 0px 20px;
  padding: 0px ;
  grid-row: 1 / 3;
}

.img-top {
  border-radius: 2px;
}

.image-description {
  text-align: end;
  font-style: italic;
  font-size: .75em;
}

.intro {
  margin: 0px 25px;
  padding: 0px 25px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.chevron-left,
.chevron-right {
  margin-top: 10px;
  margin-bottom: -350px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: 500px;
  bottom: -19px;
  z-index: -10;
}

.chevron-left.light,
.chevron-right.light {
  background-color: var(--bg-white);
}

.chevron-left.dark,
.chevron-right.dark {
  margin-top:50px;
  margin-bottom: -450px;
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  background-color: var(--bg-dark);
  height: 100px;
  margin-top: -50px;
  z-index: 1;
}

.chevron-left {
  margin-left: 0px;
  margin-right: 45vw;
  transform: skewY(4deg);
}

.chevron-right {
  margin-right: 0px;
  margin-left: 45vw;
  transform: skewY(-4deg);
}

.contact-links {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-content: center;
}

.contact-link {
  width: 32px;
  height: 32px;
  fill: var(--bg-med);
  margin: 0px 10px;
  transition: all .5s
}

.contact-link:hover {
  width: 35px;
  height: 35px;
  fill: var(--bg-lght);
}

.container {
  max-width: 1200px;
  padding: 20px;
}

.navbar .container {
  max-width: 1200px;
  padding: 0px 20px;
}

.video-grid {
  background-color: var(--bg-white);
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  align-items: center;
  margin-top: -60px;
  padding-bottom: 35px;
  text-align: center;
}

#video-header {
  color: var(--bg-dark)
}

.video {
  display: block;
  width: 480px;
  height: 360px; 
  margin: 0 auto;
  object-fit: contain;
}

.video-description {
  margin-top: 20px;
  text-align: center;

  color: rgb(63, 63, 63);
  color: var(--bg-dark); 
}

.nav-grid {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  text-align: center;
  background-color: var(--bg-white);
  padding-bottom: 150px;
}

.project-nav  a {
  font-size: 3em;
  color: var(--bg-dark);
  transition: all .5s;
}

.project-nav  a:hover {
  color: var(--bg-med);
  font-size: 3.3em;
  line-height: normal;
}

.projects {
  background-color: var(--bg-white);
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -35px;
  padding-bottom: 135px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-body,
.card-text {
  color: var(--bg-dark);
  background-color: var(--bg-white-card);
  border-color: var(--bg-dark);
  border-radius: 10px;
}

.card {
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
  border-color: var(--bg-dark)
}

.card-body .card-btn {
  margin-bottom: 6px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 10px 5px 5px var(--bg-dark)
}

.project-card {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

/* Override bootstrap card styling */

.btn-outline-dark {
  border-color: var(--bg-dark);
  color: var(--bg-dark);
} 

.btn-outline-dark:hover {
  border-color: var(--bg-white);
  background-color: var(--bg-dark);
  color: var(--bg-white) !important
} 

.btn-outline-dark:visited {
  border-color: var(--bg-dark);
  color: var(--bg-dark);
} 

.footer.contact-links {
  padding: 25px 0px 75px;
  line-height: 1em;
}

.footer {
  background-color: var(--bg-dark);
  color: var(--bg-white);
  grid-column: 1/ 3;
  grid-row: 7 / 8;
  z-index: 1;
  align-items: center;
}

/* Projects page-specific styling */

.project-header-grid {
  text-align: center;
  padding-top: 20px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.project-footer-grid {
   background-color: var(--bg-dark);
   padding: 9px;
   justify-content: center;
   align-items: center;
   grid-column: 1 / 3;
   grid-row: 6 / 7;
   z-index: 1;
}

.projects.contact-links {
  background-color: var(--bg-dark);
}

/* Mobile */
@media(max-width: 768px) {
  .container.bio-grid {
    margin: 0 0 75px 0;
    padding: 0px;
  }

  .bio-grid {
    display:block;
    margin: 0px;
    padding: 0px;
  }

  .bio-grid,
  .intro {
    margin-left: 0px;
    padding-left: 10px;
    margin-right: 0px;
    padding-right: 10px
  }

  .bio-pic {
    margin: 0px;
    padding: 0px;
    text-align: center;   
  }

  .image-description {
    text-align: center;
  }

  .intro-header {
   padding-top: 10px;
   text-align: center;
  }

  .img-top {
    margin: auto;
  }

  .video {
    width: 85vw;
    max-width: fit-content;

  }
  .project-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  }
}
